<appSettings>
  <add key="Release_Mode" value="dev"/>
  <add key="AutomaticallyRedirectToSecureChannel" value="True"/>
  <add key="FileExportPath" value="c:\temp"/>
  <add key="Email_UponTimesheetRejection" value="False"/>
  <add key="Email_UponWorkScheduleSubmissionToSupervisor" value="False"/>
  <add key="EmailSupervisor_UponParttimeTimesheetSubmission" value="False"/>
</appSettings>