<appSettings>
  <add key="Release_Mode" value="prod"/>
  <add key="AutomaticallyRedirectToSecureChannel" value="True"/>
  <add key="FileExportPath" value=""/>
  <add key="Email_UponTimesheetRejection" value="True"/>
  <add key="Email_UponWorkScheduleSubmissionToSupervisor" value="True"/>
  <add key="EmailSupervisor_UponParttimeTimesheetSubmission" value="True"/>
</appSettings>