<connectionStrings>
  <add name="ConnectionString" 
       connectionString="Data Source=SERVERNAME;Initial Catalog=TLR;Persist Security Info=True;User ID=TLR_WebUser;pwd=PASSWORD" 
       providerName="System.Data.SqlClient"/>
  <!-- for integrated security 
  <add name="ConnectionString"
    connectionString="Data Source=SERVERNAME;Initial Catalog=TLR;Integrated Security=true;"
    providerName="System.Data.SqlClient"/>-->
</connectionStrings>